.backgrnd {
    background-image: url("https://lh3.googleusercontent.com/proxy/vE2wt7AdqZQw_9pIzVJ4F5fvvO_oVllUEL-Ys2ymjYWsyYAYNNL84-MHfQzSQm8yr8WjNM4JuOi3TuMtcipXPSVu-p97aIoGxD5fzMN7jGqjvzlap7UwLZwkk-KZt90pm9F5KbyDxg4aGuyIlhfuG-3Kpmeiu5wQKzpgrpP_ibQY");
    height: 150%;
    width: 150%;
    color: rgb(119, 232, 236) 

}

